<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AccesoDatos.Properties.Settings.bdMiBusConnectionString"
            connectionString="Data Source=mibus.database.windows.net;Initial Catalog=bdMiBus;User ID=mibusroot;Password=mibus2026.;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"
            providerName="System.Data.SqlClient" />
        <add name="AccesoDatos.Properties.Settings.bdMiBusConnectionString1"
            connectionString="Data Source=mibus.database.windows.net;Initial Catalog=bdMiBus;User ID=mibusroot;Password=mibus2026.;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"
            providerName="System.Data.SqlClient" />
        <add name="AccesoDatos.Properties.Settings.bdMiBusConnectionString2"
            connectionString="Data Source=mibus.database.windows.net;Initial Catalog=bdMiBus;User ID=mibusroot;Password=mibus2026.;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"
            providerName="System.Data.SqlClient" />
        <add name="AccesoDatos.Properties.Settings.bdMiBusConnectionString3"
            connectionString="Data Source=mibus.database.windows.net;Initial Catalog=bdMiBus;Persist Security Info=True;User ID=mibusroot;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="AccesoDatos.Properties.Settings.bdMiBusConnectionString4"
            connectionString="Data Source=mibus.database.windows.net;Initial Catalog=bdMiBus;Persist Security Info=True;User ID=mibusroot;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>
