<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AccesoDatos.Properties.Settings.bdMiBusConnectionString"

            connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=bdMiBus;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="AccesoDatos.Properties.Settings.bdMiBusConnectionString1"
            connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=bdMiBus;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=True"
>
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>
